Node-Red/project.json
[{"id":"ed4fda19.d9467","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"89acb2e7.4ee32","type":"mqtt in","z":"ed4fda19.d9467","name":"RAW LORA DATA","topic":"lora_raw","qos":"1","broker":"537a7633.f1b2c","x":110,"y":320,"wires":[["91970165.27ddc8","d0fe0016.9b1b08"]]},{"id":"91970165.27ddc8","type":"debug","z":"ed4fda19.d9467","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":320,"wires":[]},{"id":"4ab01d8f.b7f46c","type":"mqtt in","z":"ed4fda19.d9467","name":"Car Battery Voltage","topic":"car\\battery\\voltage","qos":"1","broker":"537a7633.f1b2c","x":110,"y":440,"wires":[["85c0503e.81db88"]]},{"id":"85c0503e.81db88","type":"json","z":"ed4fda19.d9467","name":"Parsed JSON","property":"payload","action":"obj","pretty":false,"x":380,"y":440,"wires":[["b47b9b4.409e568","eee63fcf.ddc9e"]]},{"id":"b47b9b4.409e568","type":"function","z":"ed4fda19.d9467","name":"","func":"var msg1={};\n\n\nswitch( msg.payload.uint ){\n    case \"uV\":{\n         msg1.payload = msg.payload.voltage/1000000;   \n    } break;\n   \n    case \"mV\":{\n         msg1.payload = msg.payload.voltage/1000;   \n    } break;\n    \n    case \"V\":{\n        /* do nothing */\n        msg1.payload = msg.payload.voltage;        \n    } break;\n    \n    \n   \n    \n    default:{\n        \n    }\n}\n\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":730,"y":440,"wires":[["c3d02536.2048a8","9aaf0a8a.e6ff5"]]},{"id":"c3d02536.2048a8","type":"ui_chart","z":"ed4fda19.d9467","name":"","group":"3fbd176c.c51e78","order":0,"width":0,"height":0,"label":"Batteryvoltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"1000","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":980,"y":460,"wires":[[],[]]},{"id":"9aaf0a8a.e6ff5","type":"ui_gauge","z":"ed4fda19.d9467","name":"Battery Voltage","group":"3fbd176c.c51e78","order":3,"width":0,"height":0,"gtype":"gage","title":"Battery Voltage","label":"Volt","format":"{{value}}","min":0,"max":"24","colors":["#ff0000","#e6e600","#00ff00"],"seg1":"10.4","seg2":"11.9","x":980,"y":420,"wires":[]},{"id":"fa19aac1.95561","type":"mqtt in","z":"ed4fda19.d9467","name":"Car Temperature","topic":"car\\interior\\temperature","qos":"1","broker":"537a7633.f1b2c","x":100,"y":700,"wires":[["41050644.f25878"]]},{"id":"41050644.f25878","type":"json","z":"ed4fda19.d9467","name":"Parsed JSON","property":"payload","action":"obj","pretty":false,"x":380,"y":700,"wires":[["cf82d703.97ea78","5225a0e4.e800c8"]]},{"id":"cf82d703.97ea78","type":"function","z":"ed4fda19.d9467","name":"","func":"var msg1={};\n\n\nswitch( msg.payload.uint ){\n    case \"kelvin\":{\n         msg1.payload = msg.payload.temperature-273.1;   \n    } break;\n   \n    case \"fahrenheit\":{\n         msg1.payload = (msg.payload.temperature-32)*5/9;   \n    } break;\n    \n    case \"celsius\":{\n        /* do nothing */\n        msg1.payload = msg.payload.temperature;        \n    } break;\n    \n    \n   \n    \n    default:{\n        \n    }\n}\n\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":730,"y":700,"wires":[["6d7f2935.62fc18"]]},{"id":"6d7f2935.62fc18","type":"ui_chart","z":"ed4fda19.d9467","name":"","group":"3fbd176c.c51e78","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":970,"y":700,"wires":[[],[]]},{"id":"79fadca9.de8e4c","type":"mqtt in","z":"ed4fda19.d9467","name":"Car Humidity","topic":"car\\interior\\humidity","qos":"1","broker":"537a7633.f1b2c","x":90,"y":900,"wires":[["71e28251.1a4794"]]},{"id":"71e28251.1a4794","type":"json","z":"ed4fda19.d9467","name":"Parsed JSON","property":"payload","action":"obj","pretty":false,"x":380,"y":900,"wires":[["50b5ba6c.082ee4","65ac8d39.77b40c"]]},{"id":"50b5ba6c.082ee4","type":"function","z":"ed4fda19.d9467","name":"","func":"var msg1={};\n\n\nmsg1.payload = msg.payload.humidity\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":730,"y":900,"wires":[["530929e0.d2e5"]]},{"id":"530929e0.d2e5","type":"ui_chart","z":"ed4fda19.d9467","name":"","group":"3fbd176c.c51e78","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":960,"y":900,"wires":[[],[]]},{"id":"4efe29a9.cc2cc","type":"sqlite","z":"ed4fda19.d9467","mydb":"8a2edaec.9a7868","sqlquery":"msg.topic","sql":"","name":"CarSensorLog","x":1340,"y":620,"wires":[[]]},{"id":"eee63fcf.ddc9e","type":"function","z":"ed4fda19.d9467","name":"","func":"var msg1={};\nmsg1.topic =  \"insert into battery_voltage ( uuid,voltage ) VALUES(\" + msg.payload.uuid + \",\" + msg.payload.voltage + \")\";\nreturn msg1;","outputs":1,"noerr":0,"x":1010,"y":360,"wires":[["4efe29a9.cc2cc","85e87935.f86f08"]]},{"id":"85e87935.f86f08","type":"debug","z":"ed4fda19.d9467","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":320,"wires":[]},{"id":"5225a0e4.e800c8","type":"function","z":"ed4fda19.d9467","name":"","func":"var msg1={};\nmsg1.topic =  \"insert into temperature ( uuid,temperature ) VALUES(\" + msg.payload.uuid + \",\" + msg.payload.temperature + \")\";\nreturn msg1;","outputs":1,"noerr":0,"x":890,"y":620,"wires":[["91215a73.d44038","4efe29a9.cc2cc"]]},{"id":"91215a73.d44038","type":"debug","z":"ed4fda19.d9467","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":580,"wires":[]},{"id":"65ac8d39.77b40c","type":"function","z":"ed4fda19.d9467","name":"","func":"var msg1={};\nmsg1.topic =  \"insert into humidity ( uuid,humidity ) VALUES(\" + msg.payload.uuid + \",\" + msg.payload.humidity + \")\";\nreturn msg1;","outputs":1,"noerr":0,"x":970,"y":840,"wires":[["844fc145.4f6688","4efe29a9.cc2cc"]]},{"id":"844fc145.4f6688","type":"debug","z":"ed4fda19.d9467","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1270,"y":880,"wires":[]},{"id":"d0fe0016.9b1b08","type":"websocket out","z":"ed4fda19.d9467","name":"","server":"35f49e4.e322162","client":"","x":370,"y":260,"wires":[]},{"id":"537a7633.f1b2c","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3fbd176c.c51e78","type":"ui_group","z":"","name":"Chart","tab":"ebb3177a.a9a6f","order":2,"disp":true,"width":"6","collapse":false},{"id":"8a2edaec.9a7868","type":"sqlitedb","z":"","db":"/home/pi/carsensor.db","mode":"RWC"},{"id":"35f49e4.e322162","type":"websocket-listener","z":"","path":"/lora/raw","wholemsg":"false"},{"id":"ebb3177a.a9a6f","type":"ui_tab","z":"","name":"MQTT-Sensor-Daten","icon":"dashboard","order":0}]